* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.center-text {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: RGB(20, 148, 20);
}